extends ../layout/admin

block styles
    link(rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css")

block contenido
    .py-10
        h1.text-4xl.my-10.font-extrabold.text-center Bienes
            span.font-normal Raices
        h2.text-center.text-2xl.font-extrabold= page

        if errors 
            div(class="max-w-md mx-auto my-10")
                each error in errors
                    p.bg-red-600.text-white.uppercase.text-xs.text-center.p-2.mb-1.font-bold= error.msg

        div(class="bg-white shadow py-8 px-4 rounded mx-auto mx-auto max-w-4xl my-10 md:px-10")
            form.space-y-8(method="POST" action="/properties/create")
                input(type="hidden", name="_csrf" value=csrfToken)
                div.space-y-8
                    h3.text-lg.leading-6.font-medium.text-gray-900 Información General
                    p.text-gray-600 Añade Infirmación sobre la propiedad en venta

                    div 
                        label.block.text-sm.uppercase.text-gray-500.mb-3.font-bold(for="title") Titulo de Anuncio
                        input#title.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(placeholder="Titulo Propiedad, ej. Casa en la Playa" type="text" name="title" value=data.title ? data.title : '')
                    
                    div 
                        label.block.text-sm.uppercase.text-gray-500.mb-3.font-bold(for="description") Descripción
                        textarea#description.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(placeholder="Descripción de la Propiedad" type="text" name="description")= data.description ? data.description : ''
                    
                    div(class="md:flex md:gap-4 space-y-5 md:space-y-0")

                        div(class="md:w-1/2")
                            label.block.text-sm.uppercase.text-gray-500.mb-3.font-bold(for="category") Categoria
                            select#category.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(name="category")
                                option(value="") - Seleccione -
                                each category in categories 
                                    option(value=category.id selected= data.category ? data.category == category.id ? true : false : null)=category.name
                    
                        div(class="md:w-1/2")
                            label.block.text-sm.uppercase.text-gray-500.mb-3.font-bold(for="price") Precio
                            select#price.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(name="price")
                                option(value="") - Seleccione -
                                each price in prices 
                                    option(value=price.id selected= data.price ? data.price == price.id ? true : false : null)=price.name

                    div(class="md:flex md:gap-4 space-y-5 md:space-y-0")

                        div(class="md:w-1/3")
                            label.block.text-sm.uppercase.text-gray-500.mb-3.font-bold(for="bedrooms") Habitaciones
                            select#bedrooms.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(name="bedrooms")
                                option(value="") - Seleccione -
                                - let n = 1;
                                    while n < 10
                                        option(value=n selected= data.bedrooms ? data.bedrooms == n ? true : false : null) #{n++}
                    
                        div(class="md:w-1/3")
                            label.block.text-sm.uppercase.text-gray-500.mb-3.font-bold(for="garage") Estacionamiento
                            select#garage.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(name="garage")
                                option(value="") - Seleccione -
                                - let o = 1;
                                    while o < 5
                                        option(value=o selected= data.garage ? data.garage == o ? true : false : null) #{o++}
                        
                        div(class="md:w-1/3")
                            label.block.text-sm.uppercase.text-gray-500.mb-3.font-bold(for="wc") Baños
                            select#wc.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(name="wc")
                                option(value="") - Seleccione -
                                - let p = 1;
                                    while p < 6
                                        option(value=p selected= data.wc ? data.wc == p ? true : false : null) #{p++}
                    div.border-gray-200.border-t.py-5.space-y-5
                        h3.text-lg.leading-6.font-medium.text-gray-900 Ubicación
                        p.text-gray-600 Ubica la propiedad en el mapa
                        #map.h-96

                        div
                            p.calle= data.street ? data.street : ''
                        
                        input(type="hidden" name="street" id="street" value= data.street ? data.street : '')
                        input(type="hidden" name="lat" id="lat" value= data.lat ? data.lat : '')
                        input(type="hidden" name="lng" id="lng" value= data.lng ? data.lng : '')
                    
                    input(class="w-full py-3 bg-indigo-600 hover:bg-indigo-700 rounded text-white font-bold uppercase cursor-pointer" type="submit" value="Añadir Imagen")

block scripts
    script(src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js")
    script(src="https://unpkg.com/esri-leaflet@3.0.8/dist/esri-leaflet.js")
    script(src="https://unpkg.com/esri-leaflet-geocoder@2.2.13/dist/esri-leaflet-geocoder.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-geosearch/2.7.0/bundle.min.js")
    script(src="/js/map.js")
                        